<% include ../partials/userless_header %>

<link rel="stylesheet" href="/css/form.css" type="text/css">


<div class="ui grid">
  <div class="two column row">
    <div class="column left"></div>
    <div class="column right"></div>
  </div>
  <div class="three column centered row">
    <div class="column" id="box">
      <!-- <div class="box item"> -->
        <h1 class="box item">Login</h1>
      <!-- </div> -->
      <form class="ui form" action="/login" method="post">
        <div class="field" >
            <input type="text" name="username" value="" placeholder="username">
        </div>
        <div class="field">
          <input type="password" name="password" value="" placeholder="password">
        </div>
        <!-- <div class="box item"> -->
          <button class="ui button box item" type="submit" name="button">Login</button>
        <!-- </div> -->
      </form>
      <!-- <div class="box item"> -->
        <a class="ui button box item" href="/register">Create Account</a>
      <!-- </div> -->
    </div>
  </div>
  <div class="two column row">
    <div class="column left"></div>
    <div class="column right"></div>
  </div>
</div>



 <% include ../partials/footer %>
