<% include ../partials/header %>

<link rel="stylesheet" href="/css/form.css" type="text/css">

  <div class="ui grid">
    <div class="two column row">
      <div class="column left"></div>
      <div class="column right"></div>
    </div>
    <div class="three column centered row">
      <div class="column" id="box">
        <form class="ui form" action="/register" method="post">
          <h1 class="box item">Create Account!</h1>
            <div class="field">
              <label for="">Username</label>
              <input type="text" name="username" value="">
            </div>
            <!-- <hr> -->
            <div class="field">
              <label for="">Password</label>
              <input type="password" name="password" value="">
            </div>
            <!-- <hr> -->
            <div class="field">
              <label for="">Password</label> <span></span>
              <input type="password" name="passwordVerification" value="">
            </div>
            <!-- <hr> -->
            <button class="ui button box item" type="submit" name="button">Create!</button>
        </form>
      </div>
      </div>
    <div class="two column row">
      <div class="column left"></div>
      <div class="column right"></div>
    </div>
  </div>


 <% include ../partials/footer %>
