<% include header %>

<div class="ui top attached menu">
  <div class="item brand">
  Smart Cards
  </div>
  <div class="right menu">

  <div class="item">
    <a href="/login">
      <i class="user plus icon"></i> Sign In
    </a>
  </div>
  <div class="item">
    <a href="/register">
      <i class="user plus icon"></i> Sign Up
    </a>

  </div>

  <!-- <div class="ui right aligned category search item">
    <div class="ui transparent icon input">
      <input class="prompt" type="text" placeholder="Search animals...">
      <i class="search link icon"></i>
    </div>
    <div class="results"></div>
  </div> -->
  </div>
</div>
