<% include partials/header %>
<div class="ui container">
  <form class="ui form" action="/categories/<%=category._id%>/cards/<%=card._id%>?_method=PUT" method="post">
    <div class="field">
          <label for="">Question</label>
          <textarea name="card[question]" rows="8" cols="80"><%=card.question%></textarea>
    </div>
    <hr>
    <div class="field">
      <label for="">Answer</label>
      <textarea name="card[answer]" rows="8" cols="80"><%=card.answer%></textarea>
    </div>
    <button class="ui button" type="submit" name="button">Modify!</button>
  </form>
</div>

<% include partials/footer %>
