<% include ../partials/user_header %>

<!--  Extra links and scripts needed for this specific page-->
<link rel="stylesheet" href="/css/form.css" type="text/css">


<div id="form-container">
  <form class="ui form" action="/categories" method="post">
    <div class="field">
      <label for="">Title</label>
      <input type="text" name="title">
    </div>
    <div class="field">
      <label for="">Description</label>
      <textarea name="description" rows="8" cols="80"></textarea>
    </div>
    <div class="field">
      <label for="">Image</label>
      <input type="text" name="image">
    </div>
    <button type="submit" class="ui button box item" name="button">Create!</button>
  </form>

</div>


<!-- <div class="ui grid">
  <div class="two column row" style="height:16%;">
    <div class="column left"></div>
    <div class="column right"></div>
  </div>
  <div class="three column centered row" style="height:60%;">
    <div class="column" id="box">
      <form class="ui form" action="/categories" method="post">


    </div>
  </div>
  <div class="two column row" style="height:16%;">
    <div class="column left"></div>
    <div class="column right"></div>
  </div>

</div> -->

<script type="text/javascript" src="/js/image_check.js"></script>

 <% include ../partials/footer %>
